.categorycarousel__anchor {
    display: inline-block;
    line-height: 1rem;
    text-align: center;
}

.categorycarousel__imagewrapper {
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0 0 0 1px;
    display: block;
    margin: 0 auto 1rem auto;
    height: 15rem !important;
    width: 13rem !important;
    border-radius: 0% !important;
    
   
}


.categorycarousel__image {
    height: 100%;
    opacity: 0;
    width: 100%;
}
.cmp-categorylist__name {
    display: block;
}
