main.container {
    padding: 0% 0% !important;
}
header.experiencefragment {
   background-color: #f3dcc1!important;
    font-family: ui-serif !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    position:fixed !important;
}

.image.aem-GridColumn--default--none.aem-GridColumn.aem-GridColumn--offset--default--0.aem-GridColumn--default--1 {
    padding-top: 0.5rem !important;
}

.searchbar.aem-GridColumn--default--none.aem-GridColumn.aem-GridColumn--offset--default--0.aem-GridColumn--default--1 {
    padding-top: 0.5rem !important;
}
.miniaccount.aem-GridColumn--default--none.aem-GridColumn.aem-GridColumn--offset--default--0.aem-GridColumn--default--1 {
    padding-top: 0.5rem !important;
    font-family: ui-serif !important;
}

.breadcrumb.aem-GridColumn--default--none.aem-GridColumn.aem-GridColumn--default--5.aem-GridColumn--offset--default--0 {
    display: none;
}
.minicart.aem-GridColumn--default--none.aem-GridColumn.aem-GridColumn--offset--default--0.aem-GridColumn--default--1 {
    padding-top: 0.5% !important;
    padding-right: 0% !important;
}

.container.responsivegrid.aem-GridColumn--default--none.aem-GridColumn.aem-GridColumn--default--12.aem-GridColumn--offset--default--0 {
    margin-bottom: 2rem !important; 
}
.cmp-carousel__actions {
    display: none !important;
}
ol.cmp-carousel__indicators {
    margin-top: 0.5rem !important;
}
.productcarousel.carousel.aem-GridColumn.aem-GridColumn--default--12 {
    margin-top: 1.5rem !important;
}

div#productcarousel-a5d3f01d45 {
    width: 65pc !important;
}

h2.productcarousel__title {
    margin-bottom: 10px !important;
    color: #333 !important;
    font-family: var(--font-dosis) !important; 
    font-weight: 800 !important; 
    font-size: 1.7rem !important;
    margin-bottom: 1.5rem !important;
}


.cmp-categorylist__imagewrapper {
    height: 10rem !important;
    width: 10rem !important;
    font-family: var(--font-dosis) !important; 
}
div#categorycarousel-85b04cefae {
    height: 20rem !important;
}
div#categorycarousel-afc342362a {
    height: 20rem !important;
}
.ghost.aem-GridColumn.aem-GridColumn--default--12 {
    display: none !important;
}
// .carousel {
//     margin-top: 4rem;
// }
.carousel__title {
    font-family: var(--font-dosis) !important; 
}

.new {
   
    display: none !important;
}

h2.productFullDetail__areaTitle.productFullDetail__skuTitle.productFullDetail__sectionTitle {
    display: inline !important;
}
.container.responsivegrid.aem-GridColumn.aem-GridColumn--default--12 {
    font-family: var(--font-dosis) !important; 
}

// .container.responsivegrid.aem-GridColumn.aem-GridColumn--default--12{
//     margin-top: 4rem !important;
// }
.productcollection__results-count {
    text-align: right !important;
}

.aem-Grid.aem-Grid--12.aem-Grid--default--12 {
    //background-color: #f3dcc1 !important;
    font-family: ui-serif !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
}

.productcarousel__cardscontainer {
    grid-gap: 1.3rem !important;
}

.product__card-button {
    
    width: 100% !important;
}
.product__card, .product__card-content {
    border: 1px solid #bbb5b5 !important;
}
.product__image {
    max-width: 14.8pc !important;
    max-height: 15pc !important;
    border: 0.5 solid black !important;
}

.product__card-title {
    font-size: 1rem !important;

}

.productcarousel__root .price {
    font-size: 1.5rem !important;
}

.cmp-categorylist__title {
   // text-align: center;
    font-size: 1.7rem !important;
    font-weight: 600 !important;
}

.cmp-experiencefragment--footer {
    background-color: #f3dcc1 !important;
}

.cmp-categorylist__imagewrapper:hover {
  //  background-size: 250%;
    border: 1px solid black;
    height: 10.5rem !important;
    width: 10.5rem !important;
    box-shadow: 8px 5px 5px black !important;
}

.categorycarousel__imagewrapper:hover {
    // background-size: 250%;
    height: 16rem !important; 
    width: 14rem !important;
    border: 1px solid rgb(99, 97, 97); 
    box-shadow: 8px 5px 5px black !important;
}
.categorycarousel__imagewrapper{
    border: 1px solid rgb(132, 128, 128)1, 89, 89 !important;
}

// .product__card-content:hover {
//     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
// }

.cmp-navigation__item:hover {
    background: #090908 !important;
    color: white !important;
    font-weight: 600 !important;
}

.cmp-navigation__item--level-0:hover>.cmp-navigation__group {
  
    display: block !important;
    background: #090908 !important;
    color: white !important;
    font-weight: 600 !important ;
    width: 20% !important;
    padding-left: 2rem !important;
    margin-left: 10rem !important;
    text-align: center !important;
   
}

div#container-e3b9f0f2ee {
    margin-left: 4px !important; 
    margin-right: 4px !important;
}
div#container-f18fd2cae5 {
    margin-right: 4px !important;
}
div#container-5a9779662f {
    margin-right: 4px !important;
}
div#container-996f46d423 {
    margin-right: 4px !important;
}

.carousel__title {
 
    font-size: 1.7rem !important;
    font-weight: 600 !important;
}

.cartdetails.aem-GridColumn.aem-GridColumn--default--12 {
    margin-top: 2rem !important;
}

.cmp-VeniaCartPage__cartPage__heading {
 
    font-size: 2rem !important;
    font-weight: 600 !important;
}
.checkoutpage.aem-GridColumn.aem-GridColumn--default--12 {
    margin-top: 4rem !important;
}
h1.cmp-VeniaCheckoutPage__checkoutPage__heading {
    font-size: 2rem !important;
    font-weight: 600 !important;
}

.accountdetails__body {
    margin-top: 2rem !important;
}

.addressbook__body {
    margin-top: 2rem !important;
}
.orderhistory.aem-GridColumn.aem-GridColumn--default--12 {
    margin-top: 3rem !important;
}
div#checkoutpage-b268042b72 {
    margin-top: 2rem !important;
}

.price {
    font-size: 1.5rem;
}
.button__root {
    border-radius: 0% !important;
}

.productlist.productcollection.category__style_grid.aem-GridColumn.aem-GridColumn--default--12 {
    margin-top: 4rem;
}
span.category__title {
    font-size: 2rem !important;
}

.productcollection__filters-title {
    font-size: 1.2rem;
    font-weight: 800;
}
.productcollection__filter-title {
    height: 0% !important;
    font-weight: 500 !important;
}
.productcollection__filters {
    margin-left: 1rem !important;
}

.productcollection__item-images {
    display: grid;
    grid-template-areas: "main";
    height: 15rem !important;
}
.productcollection__item-image {
    
    height: 15rem !important;
}
.productcollection__item-title {
    font-size: 1rem !important;
}
.productcollection__item .price {
    /* margin-top: 1rem; */
    font-size: 1.3rem !important;
}
.image.aem-GridColumn.aem-GridColumn--default--12 {
    margin-top: 3rem !important;
}
.wishlist.aem-GridColumn.aem-GridColumn--default--12 {
    margin-top: 2rem;
}
.cmp-VeniaWishlistPage__wishlistItems__root {
   
    grid-template-columns: repeat(auto-fill, minmax(14.5rem, 14.5rem)) !important;
}
.productcarousel__cardscontainer {
    grid-gap: 1.3rem !important;
    margin-bottom: 1rem;
}
span.cmp-VeniaAccountChip__accountChip__root {
    margin-top: 1rem !important;
  //  margin-right: 0%;
    font-family: ui-serif !important;
}
.miniaccount.aem-GridColumn--default--none.aem-GridColumn.aem-GridColumn--offset--default--0.aem-GridColumn--default--2 {
    width: 8rem !important;
}
// main.container {
//     margin-top: 5rem !important;
// }